<div class="map-container">
<agm-map [latitude]="37.769841" [longitude]="-122.444840" [styles]="styles" [zoom]="13" [clickableIcons]="!dataSource.busy">
  <agm-marker *ngFor="let filmData of dataSource.filmsData"
              [latitude]="filmData.geoLocation.latitude"
              [longitude]="filmData.geoLocation.longitude">
    <agm-snazzy-info-window [maxWidth]="400" [closeWhenOthersOpen]="true" [border]="0" [padding]="0" [maxHeight]="600">
      <ng-template>
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{filmData.title}}</mat-card-title>
            <mat-card-subtitle>{{filmData.releaseYear}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>This film was shot in {{filmData.locations}}, wrote by {{filmData.writer}} and directed by {{filmData.director}}</p>
          </mat-card-content>
          <mat-card-footer>
            <p>With: {{filmData.actors[0]}}</p>
          </mat-card-footer>
        </mat-card>
      </ng-template>
    </agm-snazzy-info-window>
  </agm-marker>
</agm-map>
</div>
